body, html {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-size: 14px;
  background-color: white
}

md-icon {
  opacity: 0.5;
}

md-card md-card-content {
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.page {
  height: 100vh;
  position: fixed;
}

.displayMenu {
  background-color: white;
  min-height: calc(~"100vh - 0px");
  width: 200px;
}

.displayMenuList {
  padding-left: 20px;
}

.displayListItem {
  cursor: pointer;
}

.expandDisplayMenu {
  background-color: white;
  min-height: calc(~"100vh - 0px");
}

.animate-show-hide.ng-hide {
  margin-top: -44px;
}

.expandNav:focus {
    outline: none;
    border: 0;
 }

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.expandNav {
  animation-duration: 2s;
  animation-name: shrinkButton;
  width: 24px;
  height: 24px;
}

.expandNav:hover {
  animation-duration: 2s;
  animation-name: expandButton;
  width: 50px;
  height: 50px;
}

@keyframes expandButton {
  from {
    width: 24px;
    height: 24px;
  }

  to {
    width: 50px;
    height: 50px;
  }
}

@keyframes shrinkButton {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 24px;
    height: 24px;
  }
}



.md-icon-button {
  padding: 0px;
  margin: 0px;
}

.smallIcon {
  max-width: 12px;
  max-height: 12px;
}

.idea {
  padding: 10px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: white;
  color: #DDDDDD;
  padding: 15px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container-controller {
  padding-left: 50px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: white;
  width: 100%;
  border-radius: 0px;
}

/*.md-button.md-icon-button {
    margin: 0 0.6rem;
    height: 4.8rem;
    min-width: 0;
    line-height: 4.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 4.8rem;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  animation-duration: 1s;
  animation-name: leaveLink;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  animation-duration: 1s;
  animation-name: hoverLink;
  color: #FFA000;
}

@keyframes hoverLink {
  from {
    color: black;
  }

  to {
    color: #FFA000;
  }
}

@keyframes leaveLink {
  from {
    color: #FFA000;
  }

  to {
    color: black;
  }
}
