body, html {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-size: 14px;
  background-color: transparent;
  position: relative;
}

main {
  background-color: transparent;
}

md-icon {
  opacity: 1;
}

md-card md-card-content {
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.nav {
  height: 10vh;
}

.list {
  height: 80vh;
}

.settings {
  height: 10vh;
}

#menuButton {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  z-index: 8;
}

#menuButton:focus {
  outline: none;
  border: 0;
}

.menu {
  background-color: white;
  outline: solid;
  outline-width: 5px;
  outline-color: black;
  overflow: auto
}

.animate-show-hide-dis.ng-hide {
  margin-left: -400px;
}

.animate-show-hide-dis.ng-hide-add,
.animate-show-hide-dis.ng-hide-remove {
  transition: all linear 0.5s;
}

.displayMenu {
  min-height: 100vh;
  min-width: 400px;
  z-index: 8;
}

.displayMenuList {
  padding-left: 210px;
  padding-top: 10px;
  left: 0px;
  display: block;
}

.displayListItem {
  cursor: pointer;
}

.displayListItem:hover {
  cursor: pointer;
  color: #FFA000;
}

.displayListItem:focus {
  outline: none;
  border: 0;
}

#title {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 50px;
  z-index: 6;
}

#canvasContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
}

#sideNav {
  left: 0px;
  width: 50px;
  height: 100vh;
  z-index: 8;
}

.topic {
  float: left;
}

md-content {
  background: transparent;
}

#topicTitle {
  margin-top: 10px;
  padding-right: 20px;
  color: rgb(31, 119, 180);
  animation-name: loadTitle;
  animation-duration: 5s;
}

@keyframes loadTitle {
  0% {
    font-size: 0px;
  }
  65% {
    font-size: 0px;
    margin-top: 363px;
    margin-right: 50%;
  }
  100% {

  }
}

/*svg.canvasContainer {
  z-index: 20;
  position: fixed;
  left: 0px;
  top: 0px;
}*/

.other {
  background-color: gray;
  width: 300px;
  height: 300px;
}

.page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
}

.listView {
  background-color: white;
  min-height: calc(~"100vh - 0px");
  width: 200px;
}



.expandDisplayMenu {
  /*animation-duration: 2s;
  animation-name: shrinkButton;*/
  /*width: 50px;
  height: 50px;*/
}

/*.expandDisplayMenu:hover {
  animation-duration: 2s;
  animation-name: expandButton;
  width: 100px;
  height: 100px;
}*/

.expandNav:focus {
  outline: none;
  border: 0;
}

.expandDisplayMenu:focus {
  outline: none;
  border: 0;
}

.expandListView:focus {
  outline: none;
  border: 0;
}

.animate-show-hide-list.ng-hide {
  margin-right: 0px;
  position: fixed;
  right: 0px
}

.animate-show-hide-list.ng-hide {
  margin-right: -44px;
  position: fixed;
  right: 0px
}

.animate-show-hide-list.ng-hide-add,
.animate-show-hide-list.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show-hide-nav.ng-hide {
  margin-top: -44px;
}

.animate-show-hide-nav.ng-hide-add,
.animate-show-hide-nav.ng-hide-remove {
  transition: all linear 0.5s;
}

.expandNav {
  animation-duration: 2s;
  animation-name: shrinkButton;
  width: 50px;
  height: 50px;
}

.expandNav:hover {
  animation-duration: 2s;
  animation-name: expandButton;
  width: 100px;
  height: 100px;
}

.expandListView {
  animation-duration: 2s;
  animation-name: shrinkButton;
  width: 50px;
  height: 50px;
}

.expandListView:hover {
  animation-duration: 2s;
  animation-name: expandButton;
  width: 100px;
  height: 100px;
}

@keyframes expandButton {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 100px;
    height: 100px;
  }
}

@keyframes shrinkButton {
  from {
    width: 100px;
    height: 100px;
  }

  to {
    width: 50px;
    height: 50px;
  }
}



.md-icon-button {
  padding: 0px;
  margin: 0px;
}

.smallIcon {
  max-width: 12px;
  max-height: 12px;
}

.idea {
  padding: 10px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: white;
  color: #DDDDDD;
  padding: 15px;
}

.links line {
  stroke: lightgray;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.nodes text {
  font-size: 18px;
  cursor: pointer;
}

.nodes text:hover {
  font-size: 24px;
}

.nodes circle {
  stroke: white;
  stroke-width: 5px;
  cursor: pointer
  /*animation-duration: 3s;
  animation-name: expandNode;
  animation-iteration-count: infinite;*/
}

.nodes circle:hover {
  stroke: #FFA000;
}

.nodes circle:nth-child(1) {
  r: 10;
  animation-duration: 5s;
  animation-name: expandNode;
  animation-iteration-count: 2;
}

.nodes circle:not(:first-child) {
  r: 10;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-name: expandNodeSmall;
  animation-iteration-count: 2;
}

/*.nodes circle:nth-of-type(3n) {
  animation-name: expandNode;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.nodes circle:nth-of-type(3n+2) {
  animation-name: expandNode;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

.nodes circle:nth-of-type(3n+1) {
  animation-name: expandNode;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}*/

@keyframes expandNode {
  0% {
    r: 10;
  }
  65% {
    r: 10;
  }
  70% {
    r: 3;
  }
  75% {
    r: 25;
  }
  80% {
    r: 7;
  }
  85% {
    r: 16;
  }
  90% {
    r: 9;
  }
  95% {
    r: 12;
  }
  100% {
    r: 10;
  }
}

@keyframes expandNodeSmall {
  0% {
    r: 10;
  }
  65% {
    r: 10;
  }
  70% {
    r: 7;
  }
  75% {
    r: 13;
  }
  80% {
    r: 8;
  }
  85% {
    r: 12;
  }
  90% {
    r: 9;
  }
  95% {
    r: 11;
  }
  100% {
    r: 10;
  }
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container-controller {
  padding-left: 50px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: white;
  width: 100%;
  border-radius: 0px;
}

/*.md-button.md-icon-button {
margin: 0 0.6rem;
height: 4.8rem;
min-width: 0;
line-height: 4.8rem;
padding-left: 0;
padding-right: 0;
width: 4.8rem;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*li {
  float: left;
}*/

/*li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}*/

li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #FFA000;
}
