body, html {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-size: 14px;
}

md-icon {
  opacity: 0.5;
}

/*.as-sortable-item {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 10px;
    border: solid 1px black;
}*/

md-card md-card-content {
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.md-icon-button {
  padding: 0px;
  margin: 0px;
}

.smallIcon {
  max-width: 12px;
  max-height: 12px;
}

.idea {
  padding: 10px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container-controller {
  padding-left: 50px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

/*.md-button.md-icon-button {
    margin: 0 0.6rem;
    height: 4.8rem;
    min-width: 0;
    line-height: 4.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 4.8rem;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
