<div class="container-controller">
  <h1 class="lead md-display-3">Idea Shuffle</h1>
    <h3 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <h3 class="md-title">Login</h3>
    <form ng-submit="lc.login()">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
          <br>
          <!-- <input class="btn btn-default" type="submit" name="submit" value="Log In" /> -->
          <md-button class="md-raised" type="submit" name="submit" value="Log In">Log In</md-button>
          <a href="#register">Register</a>
      </div>
    </form>
</div>
