<div ng-include="'views/partials/nav.html'"></div>
<div class="container-controller">
  <md-content>
    <h3 id="welcome" class="lead">Welcome, {{stc.userObject.userName}}!</h1>
    <h1 class="md-display-3">Select A Topic:</h1>
    <md-checkbox ng-model="testing" aria-label="Placeholder Topic 1">
        Placeholder Topic 1: {{testing}}
    </md-checkbox>
    <br>
    <md-button class="md-primary md-raised" ng-click="stc.showPrompt(stc.test())"  >
      Create New Topic
    </md-button>
    <br>
    <md-button class="md-raised" ng-click="stc.userService.logout()">Log Out</md-button>
  </md-content>
</div>
