<div class="navBar check-element animate-show-hide" ng-show="vc.navBar" ng-include="'views/partials/nav.html'"></div>

<!-- <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/navigation/ic_chevron_right_18px.svg"></md-icon> -->
<div class="navExpandButton" layout="row" layout-align="center center">
  <md-icon class="expandNav" md-svg-icon="vendors/svgicon/navigation/ic_expand_more_18px.svg" ng-click="vc.navBar = !vc.navBar"></md-icon>
</div>

<div class="page" layout="row">
  <div class="displayMenu" ng-show="vc.displayMenu" layout="column" layout-align="center center">
    <!-- <md-button ng-click="vc.toggleRight()" class="md-raised">
      Toggle Sidenav
    </md-button>
    <md-button class="md-raised" aria-label="Modify Category" ng-click="vc.switchDisplay()">
      Dots or Text
    </md-button>
    <md-button class="md-raised" aria-label="Modify Category" ng-click="vc.analyzeTone()">
      Analyze Tone
    </md-button> -->
    <ul class="displayMenuList">
      <li class="md-subhead displayListItem">Toggle Text/Dots</li>
      <li class="md-subhead displayListItem">Analyze Tone</li>
    </ul>
  </div>

  <div class="displayMenuButton" layout="row">
    <md-icon class="expandDisplayMenu" md-svg-icon="vendors/svgicon/navigation/ic_chevron_right_18px.svg" ng-click="vc.displayMenu = !vc.displayMenu"></md-icon>
  </div>

  <md-sidenav class="md-sidenav-right" md-component-id="right"
  md-disable-backdrop md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    <md-button ng-click="vc.toggleRight()" class="md-raised">
      Close this Sidenav
    </md-button>
  </md-toolbar>


  <div class="widget" ng-controller="CurrentTopicController as ctc">
    <div class="not-container-controller">

      <h4 class="md-title">{{ctc.userService.userObject.currentTopic}}</h1>
        <div id="drag-containment">
          <md-content class="md-padding" layout="column">
            <div class="">
              <md-card flex="90" ng-repeat="category in ctc.userService.currentTopicInfo.data.categories">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-subhead">{{category.category}}</span>
                  </md-card-title-text>
                  <md-button class="md-icon-button md-primary" aria-label="Add Idea" ng-click="ctc.addIdea(category); vm.getCurrentTopic();">
                    <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/ic_add_black_24px.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="Modify Category" ng-click="ctc.showModifyCategoryPrompt(category)">
                    <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/ic_remove_black_24px.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-primary" aria-label="Remove Category" ng-click="ctc.removeCategory(category)">
                    <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/ic_clear_black_24px.svg"></md-icon>
                  </md-button>
                </md-card-title>
                <div class="idea" as-sortable="ctc.dragControlListeners" ng-model="category.ideas">
                  <div class="" ng-repeat="idea in category.ideas">
                    <md-card-content layout="row" layout-align="space-between" as-sortable-item>
                      <div as-sortable-item-handle class="" flex="50" >
                        <p class="md-body-1">
                          {{idea.idea}}
                        </p>
                      </div>
                      <md-card-actions flex="50" layout="column">
                        <md-button class="md-icon-button md-primary" aria-label="Modify Idea" ng-click="ctc.showModifyIdeaPrompt(idea)">
                          <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/ic_remove_circle_outline_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="Remove Idea" ng-click="ctc.removeIdea(idea)">
                          <md-icon class="smallIcon" md-svg-icon="vendors/svgicon/ic_highlight_off_black_24px.svg"></md-icon>
                        </md-button>
                      </md-card-actions>
                    </md-card-content>
                  </div>
                </div>
              </md-card>
            </div>
          </md-content>
        </div>
        <br>
        <md-button class="md-primary md-raised" ng-click="ctc.showPrompt(stc.test())"  >
          Add New Category
        </md-button>
      </div>
    </div>



  </md-sidenav>


  <div class="md-raised" layout="column" ng-show="vc.tone.document_tone" ng-repeat="toneCategory in vc.tone.document_tone.tone_categories">
    <p>{{toneCategory.category_name}}</p>
    <div layout="row">
      <md-card flex="50" ng-repeat="tone in toneCategory.tones">
        <md-card-title>
          {{tone.tone_name}}: {{tone.score}}
        </md-card-title>
      </md-card>
    </div>
  </div>
  <div id="canvasContainer">

  </div>
</div>
